<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/PasswordInitiator.css" rel="stylesheet">
  <title>(Random) Password Initiator</title>
</head>

<body class="bg-dark">

  {{!-- navbar-dark class in Bootstrap automatically applies white text to the navbar's contents when used with a dark background. --}}
  {{!-- bg-secondary, which is a predefined gray color in Bootstrap. --}}
  <nav class="navbar navbar-dark  bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Random Password Generator</a>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="card shadow-lg">
          <div class="card-body">
            <h3 class="card-title text-center">Random Password Generator <i class="bi bi-key"></i></h3>

            <hr style="border: 1px solid lightgray;">
            
            <form class="needs-validation" novalidate>

              <!-- Password Length -->
              <div class="form-group row mb-3">
                <label for="password-length" class="col-sm-4 col-form-label">Password Length</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="password-length" placeholder="Enter password length"
                    name="passwordLength" min="4" max="16" value = "{{queryContent.passwordLength}}" required>
                  <small class="form-text text-muted">Length is available between 4 ~ 16</small>
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Please provide a valid length</div>
                </div>
              </div>
              
              <!-- Include Lowercase Characters -->
              <div class="form-group row mb-3 align-items-center">
                <label class="col-sm-4 col-form-label">Include Lowercase Characters</label>
                <div class="col-sm-8">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="lowercase" name="includeLowercase" {{#if queryContent.includeLowercase}}checked{{/if}}>
                    <label class="form-check-label" for="lowercase"> (e.g. abcdefg)</label>
                  </div>
                </div>
              </div>

              <!-- Include Uppercase Characters -->
              <div class="form-group row mb-3 align-items-center">
                <label class="col-sm-4 col-form-label">Include Uppercase Characters</label>
                <div class="col-sm-8">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="uppercase" name="includeUppercase" {{#if queryContent.includeUppercase}}checked{{/if}}>
                    <label class="form-check-label" for="uppercase"> (e.g. ABCDEFG)</label>
                  </div>
                </div>
              </div>

              <!-- Include Numbers -->
              <div class="form-group row mb-3 align-items-center">
                <label class="col-sm-4 col-form-label">Include Numbers</label>
                <div class="col-sm-8">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="numbers" name="includeNumbers" {{#if queryContent.includeNumbers}}checked{{/if}}>
                    <label class="form-check-label" for="numbers"> (e.g. 123456)</label>
                  </div>
                </div>
              </div>

              <!-- Include Symbols -->
              <div class="form-group row mb-3 align-items-center">
                <label class="col-sm-4 col-form-label">Include Symbols</label>
                <div class="col-sm-8">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="symbols" name="includeSymbols" {{#if queryContent.includeSymbols}}checked{{/if}}>
                    <label class="form-check-label" for="symbols"> (e.g. @#$%)</label>
                  </div>
                </div>
              </div>

              <!-- Exclude Characters -->
              <div class="form-group row mb-3">
                <label for="exclude-characters" class="col-sm-4 col-form-label">Exclude Characters</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="exclude-characters" placeholder="Characters to exclude" name="excludeCharacters" value = "{{queryContent.excludeCharacters}}">
                  <small class="form-text text-muted">These characters will not appear in the password<small>
                </div>
              </div>

              {{#if password}}
              <div class="alert alert-info mt-4">
                <strong>generatedPassword:</strong> {{password}}
              </div>
              {{/if}}

              <!-- Submit Button -->
              <div class="form-group mt-4">
                <button id='#submitButton' type="submit" class="btn btn-success btn-block">Generate Password</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault() //停止（瀏覽器）預設行為，像是頁面在提交時刷新
            event.stopPropagation() //停止向父層元素傳遞
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>

  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>



</html>

